---
interface Props {
  title?: string;
}

import '../reset.css';
import { cache } from 'jsxstyle';

const { title = 'Feed thing' } = Astro.props;

cache.reset();
let index = 0;

const { css, returnValue: slotContent } = await cache.run(
  async () => {
    return (await Astro.slots.render('default')) || '';
  },
  () => '_x' + (index++).toString(36)
);
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta
      name="theme-color"
      content="#000000"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="theme-color" content="#FFFFFF" />
    <style data-source="jsxstyle" set:html={css} />
  </head>
  <body>
    <Fragment set:html={slotContent} />
  </body>
</html>
